<div class="row">
    {{#each teams}}
        <div id="box" {{#if this.today}}style="border: thick dashed red;"{{/if}}>
            <h2 id="title">{{this.header}}</h2>
            <h4 id="title">NÄSTA MATCH</h4>
            {{this.name}}<br>
            {{this.day}}<br>
            {{this.time}}<br>
            {{this.league}}
        </div>
    {{/each}}

        <div id="box" {{#if country.country.[0].today}}style="border: thick dashed red;"{{/if}}>
            <h2 id="title">{{country.header}}</h2>
            <h4 id="title">NÄSTA MATCH</h4>
            {{#each country.country}}
                {{this.time}}<br>
                <u>{{this.name}}</u><br>
            {{/each}}
        </div>
    </div>

    <div class="row">
        <div id="box">
            <h2 id="title">Marknad</h2>
            <h4 id="title">Index Idag</h4>
            {{#each markets}}
                <li>{{this}}</li>
            {{/each}}
        </div>

        {{#each others}}
            <div id="box" {{#if this.other.[0].today}}style="border: thick dashed red;"{{/if}}>
                <h2 id="title">{{this.header}}</h2>
                <h4 id="title">NÄSTA EVENT</h4>
                {{#each this.other}}
                    {{this.time}}<br>
                    <u>{{this.name}}</u><br>
                {{/each}}
            </div>
        {{/each}}

    </div>
    

    <div class="row">
        {{#each leagues}}
            <div id="box">
                <h2 id="title">{{this.header}}</h2>
                {{#each this.league}}
                    <li>{{this}}</li>
                {{/each}}
            </div>
        {{/each}}

        <div id="box" style="border: thick dashed red;">
            <h2 id="title">TV IDAG</h2>
            {{#each tv}}
                <h4 id="title" style="margin-bottom: 0; margin-top: 0.3vw;">{{this.ch}}</h4>
                {{#each this.content}}
                    {{this}}<br>
                {{/each}}
            {{/each}}
        </div>

    </div>


<script>

// You could easily add more colors to this array.
var colors = ['teal', '#3d5c5c', '#4e1568', '#540d12', '#36369f', '#326e7e', '#305c23', '#5e5e33', '#8d5a2b', '#7c2525', '#468335', '#34978B', '#3893CF'];
var boxes = document.querySelectorAll("#box");

for (i = 0; i < boxes.length; i++) {
// Pick a random color from the array 'colors'.
boxes[i].style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
}


</script>