<div class="row">
        <div id="box" {{#if milan.today}}style="border: thick dashed red;"{{/if}}>
            <h2 id="title">AC Milan</h2>
            <h4 id="title">NÄSTA MATCH</h4>
            {{milan.name}}<br>
            {{milan.league}}<br>
            {{milan.day}}<br>
            {{milan.time}}
        </div>

        <div id="box" {{#if lfc.today}}style="border: thick dashed red;"{{/if}}>
            <h2 id="title">Liverpool FC</h2>
            <h4 id="title">NÄSTA MATCH</h4>
            {{lfc.name}}<br>
            {{lfc.league}}<br>
            {{lfc.day}}<br>
            {{lfc.time}}
        </div>

        <div id="box" {{#if iko.today}}style="border: thick dashed red;"{{/if}}>
            <h2 id="title">IK Oddevold</h2>
            <h4 id="title">NÄSTA MATCH</h4>
            {{iko.name}}<br>
            {{iko.time}}
        </div>

        <div id="box" {{#if brynäs.today}}style="border: thick dashed red;"{{/if}}>
            <h2 id="title">Brynäs</h2>
            <h4 id="title">NÄSTA MATCH</h4>
            {{brynäs.name}}<br>
            {{brynäs.day}}<br>
            {{brynäs.time}}
        </div>

        <div id="box" {{#if sweden.[0].today}}style="border: thick dashed red;"{{/if}}>
            <h2 id="title">Sverige</h2>
            <h4 id="title">NÄSTA MATCH</h4>
            {{#each sweden}}
                {{this.time}}<br>
                <u>{{this.name}}</u><br>
            {{/each}}
        </div>
    </div>

    <div class="row">
        <div id="box">
            <h2 id="title">Marknad</h2>
            <h4 id="title">Index</h4>
            {{#each market}}
                <li>{{this}}</li>
            {{/each}}
        </div>

        <div id="box" {{#if ufc.[0].today}}style="border: thick dashed red;"{{/if}}>
            <h2 id="title">UFC</h2>
            <h4 id="title">NÄSTA FIGHT</h4>
            {{#each ufc}}
                {{this.time}}<br>
                <u>{{this.name}}</u><br>
            {{/each}}
        </div>

        <div id="box" {{#if space.today}}style="border: thick dashed red;"{{/if}}>
            <h2 id="title">Space X</h2>
            <h4 id="title">NÄSTA FLYGNING</h4>
            {{space.name}}<br>
            {{space.day}}<br>
            {{space.time}} (EST)
        </div>

        <div id="box" {{#if f1.[0].today}}style="border: thick dashed red;"{{/if}}>
            <h2 id="title">Formel 1</h2>
            <h4 id="title">NÄSTA RACE</h4>
            {{#each f1}}
                {{this.time}}<br>
                <u>{{this.name}}</u><br>
            {{/each}}
        </div>
    </div>
    

    <div class="row">
        <div id="box">
            <h2 id="title">SHL</h2>
            {{#each shl}}
                <li>{{this}}</li>
            {{/each}}
        </div>

        <div id="box">
            <h2 id="title">Serie A</h2>
            {{#each seriea}}
                <li>{{this}}</li>
            {{/each}}
        </div>

        <div id="box">
            <h2 id="title">Premier League</h2>
            {{#each pl}}
                <li>{{this}}</li>
            {{/each}}
        </div>

        <div id="box">
            <h2 id="title">Div 1 Södra</h2>
            {{#each div1}}
                <li>{{this}}</li>
            {{/each}}
        </div>

        <div id="box">
            <h2 id="title">Formel 1</h2>
            {{#each f1stand}}
                <li>{{this}}</li>
            {{/each}}
        </div>

    </div>


<script>

// You could easily add more colors to this array.
var colors = ['teal', '#3d5c5c', '#4e1568', '#540d12', '#36369f', '#326e7e', '#305c23', '#5e5e33', '#8d5a2b', '#7c2525', '#468335', '#34978B', '#3893CF'];
var boxes = document.querySelectorAll("#box");

for (i = 0; i < boxes.length; i++) {
// Pick a random color from the array 'colors'.
boxes[i].style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
}


</script>